PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb+srv://saadrimeh01_db_user:ZzLcrjjVbRQx6MUT@ruscholar.rvngtw8.mongodb.net/?appName=ruscholar

TELEGRAM_BOT_TOKEN=8994.....
TELEGRAM_WEBHOOK_SECRET=Ruscholar1_Webhook_Token_998877
TELEGRAM_WEBHOOK_URL=https://xxxxxx
TELEGRAM_MINI_APP_URL=https://xxxxxx

CLIENT_ORIGIN=https://xxxxx
